<div class="container-fluid bg-info">
  <div class="modal-content">
    <div class="modal-header">
      <h3><span class="label label-warning" id="qid">{{ question.order }}</span> {{ question.question }}</h3>
    </div>
    <form (ngSubmit)='checkAnswer()'>
      <div class="modal-body">
        <div class="quiz" id="quiz" data-toggle="buttons">
          <label class="element-animation btn btn-lg btn-primary btn-block"><span class="btn-label"><i
                class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" [(ngModel)]="selection"
              name="q_answer" value="1">
            {{ question.answers[0] }}</label>
          <label class="element-animation btn btn-lg btn-primary btn-block"><span class="btn-label"><i
                class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" [(ngModel)]="selection"
              name="q_answer" value="2">
            {{ question.answers[1] }}</label>
          <label class="element-animation btn btn-lg btn-primary btn-block"><span class="btn-label"><i
                class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" [(ngModel)]="selection"
              name="q_answer" value="3">
            {{ question.answers[2] }}</label>
          <label class="element-animation btn btn-lg btn-primary btn-block"><span class="btn-label"><i
                class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" [(ngModel)]="selection"
              name="q_answer" value="4">
            {{ question.answers[3] }}</label>
        </div>
      </div>
      <div class="modal-footer">
        {{ state }}
        <button class="btn btn-primary" type="submit">Check Answer</button>&nbsp;
      </div>
    </form>
  </div>
</div>