<div class="container-fluid bg-info">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Questions list</h3>
    </div>
    <div class="modal-body">
      <div class="quiz" id="quiz" data-toggle="buttons" *ngFor="let q of questions">
        <label class="element-animation btn btn-lg btn-primary btn-block" routerLink="/questions/detail/{{ q.order }}">
          <span class="btn-label">
            <i class="glyphicon glyphicon-chevron-right"></i>
          </span>
          Question {{ q.order }}
        </label>
      </div>
    </div>
    <div class="modal-footer text-muted">
      <span id="answer"></span>
    </div>
  </div>
</div>